@import url('https://fonts.googleapis.com/css?family=Gaegu');

$fonts: 'Gaegu', cursive;

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: $fonts;
	background-color: #24292E;
	color: white;
}

h1,
h2 {
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
 	float: left;
 	width: 100%;
}

@for $i from 1 to 13 {
    .col-#{$i} {
    	width: 8.33% * $i; 
    	}
    }

@media (max-width: 767px){
    @for $i from 1 to 13 {
    	.col-s-#{$i} {
    		width: 8.33% * $i; 
    	}
    }
}
